
.progress {
    border: 1px solid black;
    border-radius: $border-radius;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;

    &::after {
        content: '';
        height: 100%;
        background-color: orangered;
        width: var(--percent);
    }

    &--big {
        height: 50px;
    }

    &--color--red {
        border: 1px solid orangered;
    }
}